@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html{
  background-color: rgb(221, 221, 220);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .8rem;
}

h3{
  text-decoration: underline;
}

@media only screen and (min-width: 1700px) {

    .thumbnails-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap : 2rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  
  }

}


@media only screen and (max-width: 1700px) {

  .thumbnails-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap : 2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}


@media only screen and (max-width: 1100px) {

  .thumbnails-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap : 2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}


@media only screen and (max-width: 900px) {

  .thumbnails-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap : 2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}

.featured-container{
  display: grid;
  grid-template-areas: 'table-grid featured info'
  'table-grid featured like'
  'table-grid update-delete add-song';


  grid-auto-columns: 1fr; 
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.featured{
  grid-area: featured;
  margin: auto;
}

.table{
  grid-area: table-grid;
  justify-content: right;
  max-height: max-content;
  overflow : scroll; 
  /* border-width: 2px;
  border:rgb(0, 0, 0) */
}

.add{
  grid-area: add-song;
  margin: auto; 
  justify-content: center;
}

.info{
  grid-area: info;
  margin: auto; 
  justify-content: center;
}

.like{
  grid-area: like;
}

.update-delete{
  grid-area: update-delete;
  display: flex; 
  margin: auto;
  justify-content: space-around;
}

/* .update{
  
}

.delete{
  grid-area: delete;

} */

.playlist{
  width: 85%; 
  margin: auto; 
  padding-bottom: 1rem;
}

.line{
  height: 2px; 
  width: 92%; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: black;
  margin-bottom: .5rem;
}

.top-buffer{
  height: 3rem;
  width: 100%;
  background-color: rgb(117, 117, 117);
}
.navbar{
  display: flex; 
  font-size: 4rem; 
  left: 6rem; 
  margin-top: 1.5rem;
}
.name{
  font-size: medium;
}

.name:hover{
  box-shadow: 1px 2px 2px 3px rgb(119, 119, 119)
}

.trackInfo{
  padding: 1rem; 
}

.likes-container{
  display: flex; 
  flex-direction: row;
  align-items: baseline;
}


.icon-size{
  font-size: 2rem; 
}

.nav-container{
  display: flex;
  justify-content: stretch;
  align-content: stretch 
}
.search{
  max-height: fit-content;  
}