html{
  background-color: rgb(221, 221, 220);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .8rem;
}

@media only screen and (min-width: 1700px) {

    .thumbnails-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap : 2rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  
  }

}


@media only screen and (max-width: 1700px) {

  .thumbnails-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap : 2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}


@media only screen and (max-width: 1100px) {

  .thumbnails-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap : 2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}


@media only screen and (max-width: 900px) {

  .thumbnails-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap : 2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}

.featured-container{
  display: grid;
  grid-template-areas: 'table featured add';
  grid-auto-columns: 1fr; 
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.featured{
  grid-area: featured;
  margin-top: 5vh;
  margin-bottom:8vh; 
  margin-left: auto;
  margin-right: auto;
}

.table{
  grid-area: table;
  margin: auto; 
  justify-content: right;

}

.add{
  grid-area: add;
  margin: auto; 
  justify-content: left;
}

.playlist{
  width: 85%; 
  margin: auto; 
  padding-bottom: 1rem;
}

.line{
  height: 2px; 
  width: 92%; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: black;
  margin-bottom: .5rem;
}

.top-buffer{
  height: 3rem;
  width: 100%;
  background-color: rgb(117, 117, 117);
}
.navbar{
  display: flex; 
  font-size: 4rem; 
  left: 6rem; 
  margin-top: 1.5rem;
}
.name{
  font-size: medium;
}